---
- name: Ensure presequite requirement is met
  hosts: cluster_nodes
  gather_facts: false
  roles:
    - { role: common,
        tags: ensure_k8s_presequite }

- name: Ensure docker is installed in k8s nodes
  hosts: k8s_nodes
  gather_facts: false
  roles:
    - { role: docker,
        tags: ensure_k8s_presequite }

- name: Ensure presequite in k8s nodes
  hosts: k8s_nodes
  gather_facts: false
  roles:
    - { role: k8s_node,
        tags: ensure_k8s_presequite }
